body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  color: #172033;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}

.card {
  background: white;
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.8);
}

input{
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: right;
}

th {
  background: #f0f2f5;
}